[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PPCI"]
	path = PPCI
	url = https://github.com/davidhofmeyr/ppci
	shallow = true
	registered = true
