[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FKSUM"]
	path = FKSUM
	url = https://github.com/cran/FKSUM
[submodule "PPCI"]
	path = PPCI
	url = https://github.com/davidhofmeyr/ppci
